/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: "";
     display: table;
     clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

img {
  width: 100%;
}

body {
  width: 90vw;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  padding: 0.2rem 0;
}

/******************************************
/* LAYOUT header/Nav
/*******************************************/


nav {
  height: 3vw;
  background: black;
  font-size: 0.8rem;
}

nav * {
  color: white;
}

table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid rgb(167, 165, 165);
}

.navmargin {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

td:first-child {
  background: url("./.././images/BBClogo.png") no-repeat;
  background-size: 90%;
  background-position: center left 1%;
  width: 10%;
}

td:nth-child(2) {
  width: 15%;
  background: url("./../images/usericon.png") no-repeat;
  background-size: 2.2vw;
  background-position: center left 5%;
  padding-left: 10px;
  padding-bottom: 2px;
  position: relative;
}

td:nth-child(2) > a {
  position: absolute;
  top: 20%;
  left: 22%;
}

td:last-child {
  width: 15.5vw;
  position: relative;
}

form {
  padding: 1px 5px 1px 20px;
  width: 100%;
}

input {
  border: 2px solid black;
  color: black;
  background: url("./../images/search.png") no-repeat, white;
  background-position: center right 1%;
  background-size: 10%;
  position: absolute;
  top: 15%;
  right: 1%;
  width: 90%;
}

select {
  background-color: black;
  border: 2px solid black;
  margin: 2px -1.2vw 5px -1.2vw;
  width: 75%;
}


/******************************************
/* LAYOUT sections
/*******************************************/

main {
  width: 100%;
  margin-bottom: 1%;
}

main header {
  margin: 1.5% 0;
  width: 100%;
}

header > h2 {
  float:left;
}

header > time {
  float: right;
}

.top-story,
.side-stories {
  float: left;
  width: 49.5%;
  height: 30vw;
  position: relative;
}

.side-stories > section {
  float: left;
  width: 49%;
  height: 48.5%;
  position: relative;
}

.top-story > div,
.side-stories section > div {
  position: absolute;
  bottom: 3%;
  left: 3%
}

.secondary-stories > header {
  margin-bottom: 1vw;
  margin-top: 3vw;
}

.secondary-stories > section {
  float: left; 
  width: 32.3333%;
}

.bidenharris,
.belarus {
  margin-right: 1%;
}

/******************************************
/* Individual stories
/*******************************************/


.top-story {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.30) 59%, rgba(0, 0, 0, 0.75) 100%), url("./../images/israeluae.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1%;
}

.us-canada {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.30) 59%, rgba(0, 0, 0, 0.75) 100%), url("./../images/flags.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1.5%;
  margin-bottom: 2%;
}

.covid {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.30) 59%, rgba(0, 0, 0, 0.75) 100%), url("./../images/covid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2%;
}

.gyms {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.30) 59%, rgba(0, 0, 0, 0.75) 100%), url("./../images/smilingwoman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1.5%;
}

.victor {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.30) 59%, rgba(0, 0, 0, 0.75) 100%), url("./../images/singer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/******************************************
/* Styling and color
/*******************************************/



.top-story  *,
.side-stories  * {
  color:white;
}

.secondary-stories * {
  color: black;
}

.secondary-stories header .news {
  font-size: 1rem;
  font-weight: bold;
}

.secondary-stories h3 {
  font-weight: bold;
}

.news {
  border-left: 3px solid red;
}

.north {
  border-left:3px solid rgb(0, 174, 255);
}

.social {
  border-left:3px solid aqua;
}

.culture {
  border-left: 2px solid black;
}

small{
  font-size: 0.7rem;
  padding-left: 5px;
}

p {
  font-size: 0.85rem;
}

h1 {
  font-size: 1.4rem;
}


/*--------------------
  Media Queries
  -----------------*/

  @media screen and (max-width: 960px) {
    main {
      margin-top: 1%;
    }
    main > header {
      display: none;
    }

    table {
      display: none;
    }

    nav {
      height: 3vw;
      background: black;
      color: white;
      font-size: 0.8rem;
    }
  }